.section_desc{
  color:var(--medium-gray);
}
.qna, .portfolio{
  display: flex;
  flex-direction: column;
  gap: calc(var(--base-unit) * 2);
  align-items: center;
}
.qna_list{
  width: 750px;
  margin: 0 auto;
}
.qna_list li + li{
  margin-top: 1px;
}
.qna_list h3{
  background-color: var(--light-gray);
  display: flex;
  justify-content: space-between;
  height: calc(var(--base-unit) * 2);
  padding: 0 20px;
  align-items: center;
  font-size: 18px;
}
.qna_list h3 span{
  font-size: 18px;
}
.answer{
  font-size: var(--body);
}