.section_desc{
  color:var(--medium-gray);
}
.qna, .portfolio{
  display: flex;
  flex-direction: column;
  gap: calc(var(--base-unit) * 2);
  align-items: center;
}
.qna_list{
  width: 750px;
  margin: 0 auto;
}
.qna_list li + li{
  margin-top: 1px;
}
.qna_list .question{
  background-color: var(--light-gray);
  display: flex;
  justify-content: space-between;
  height: calc(var(--base-unit) * 2);
  padding: 0 20px;
  align-items: center;
  font-size: 18px;
}
.question span{
  font-size: 18px;
  opacity: 40%;
  transition: 0.5s;
}
.answer{
  font-size: var(--body);
  padding: 20px;
  display:none;
}
.qna_list li.active .question{
  font-weight: bold;
}
.qna_list li.active .answer{
  display: block;
}
.qna_list li.active .question span{
  opacity: 1;
  transform: rotate(180deg);
}
.portfolio_list figure{
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: center;
}
.portfolio_list figcaption{
  width: 51%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: center;
}