.box{
  width: 50px;
  height: 50px;
  border-width: 20px;
  border-style: solid;
  border-color: red blue;
  margin:2rem auto;
  box-sizing: border-box;
}
.box2{
  width: 40px;
  height: 40px;
  border-color: transparent transparent transparent blue;
}
.box3{
  width: 0;
  height: 0;
  border-color: transparent blue transparent transparent ;
}